THE CONVERTED OUTPUG WILL APPEAR HERE

doctype html
head
    title Pug
    script(type='text/javascript' src='../js/a.js')
    link(rel='stylesheet', href='../css/a.css')
body
    h1 Pug - node template engine
    #container.col
        p You are amazing haha hehe ho ho
        p Pug is a terse and simple templating language. haha nene